body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(92, 167, 167);
}

*{
    margin: 0;
    padding: 0;
}


.navigation{
    height: 80px;
   
    background-color: rgba(58, 127, 206, 0.24);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.nav-icon{
    flex: .5;
   
}


.nav__img{
    width: 200px;
    height: 150px;
    margin-left: 50px;
    
}

.nav__img img{
    height: 100px;
    margin-top: -15px;
}

.navitem{
    flex: .30;
    margin: auto 0;
}

.nav__items{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    
}
.nav__items:not(:last-child){
    margin-right: 20px;
}
.nav__link{
    text-decoration: none;
    color: black;
}


.register__section{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.input__action:not(:last-child){
    margin-bottom: 20px;
}
form{
    width: 250px;
    margin: 0 0;
    margin-left: 40px;
}

.form__input{
    /* border: 3px solid blue; */
    padding: 80px 40px;
    width: 350px;
    margin: 0 auto;
}
.input__field{
    padding: 17px 80px 17px 5px;
    border: none;
    border-radius: 3px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.753);
    transition: all .4s ease;
}
.input__field:active{
    box-shadow:0 9px 10px rgba(0, 0, 0, 0.753);
}
.input__field:focus{
    outline: none;
}


.input__heading{
    transform: translateX(-10px);
    font-family: serif;
    text-transform: uppercase;
    word-spacing: 4px;
    font-weight: 200;
    font-size: 26px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}



































